.select {
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
	background: transparent;
	color: var(--text-color);
	border: 1px solid var(--main-color);
	outline: none;

	& > option {
		color: #000;
	}
}

@media screen and (width <= 768px) {
	.select {
		font-size: 16px;
	}
}
