.tasks {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.tasksColumn {
	flex-basis: 25%;
	flex-shrink: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.columnTitle {
	font-size: 26px;
	font-weight: 600;
	color: var(--text-color);
	text-align: center;
}

.tasksEmpty {
	font-size: 18px;
	text-align: center;
	color: var(--second-text-color);
}

@media screen and (width <= 768px) {
	.tasks {
		flex-direction: column;
		gap: 20px;
	}

	.tasksColumn {
		gap: 15px;
	}

	.columnTitle {
		font-size: 20px;
	}

	.tasksEmpty {
		font-size: 14px;
	}
}
