.button {
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
	background: transparent;
	color: var(--text-color);
	border: 1px solid var(--main-color);
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background: rgba(0, 0, 0, 0.5);
	}
}

@media screen and (width <= 768px) {
	.button {
		font-size: 16px;
	}
}
