.task {
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid var(--main-color);
}

.taskTitle {
	font-size: 20px;
	font-weight: 600;
	text-align: left;
}

.taskDescription {
	font-size: 16px;
	text-align: left;
}
