.task {
	padding: 20px 30px;
	border: 2px solid var(--main-color);
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

.taskInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	text-align: left;
}

.taskTitle {
	font-size: 26px;
	font-weight: 700;
}

.taskBoard {
	font-size: 14px;
	color: var(--second-text-color);
}

.taskDescription {
	font-size: 20px;
}

.taskSide {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
	font-weight: 600;
}

.taskPriority {
	color: var(--color);
}

@media screen and (width <= 768px) {
	.task {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
		padding: 12px;
	}

	.taskTitle {
		font-size: 18px;
	}

	.taskBoard {
		font-size: 12px;
	}

	.taskDescription {
		font-size: 14px;
	}

	.taskSide {
		align-items: flex-start;
		gap: 6px;
	}
}
