.textarea {
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
	background: transparent;
	color: var(--text-color);
	border: 1px solid var(--main-color);
	outline: none;
	min-height: 100px;

	&::placeholder {
		color: var(--second-text-color);
	}
}

@media screen and (width <= 768px) {
	.textarea {
		width: 100%;
	}
}
