* {
	margin: 0;
	padding: 0;
}

:root {
	--main-color: #4d6bfe;
	--text-color: #fff;
	--second-text-color: rgba(255, 255, 255, 0.8);
}

body {
	background-color: #212121;
	color: var(--text-color);
}

a {
	text-decoration: none;
	color: var(--second-text-color);
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--text-color);
	}
}
