* {
	margin: 0;
	padding: 0;
}

:root {
	--background-color: #212121;
	--main-color: #4d6bfe;
	--text-color: #fff;
	--second-text-color: rgba(255, 255, 255, 0.8);
	--color-done: #29c87c;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
}

a {
	text-decoration: none;
	color: var(--second-text-color);
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--text-color);
	}
}

button {
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
	color: var(--text-color);
}
